---
import BaseLayout from '../layouts/BaseLayout.astro';
import Timeline from '../components/Timeline.astro';

const events = [
    {
      "year": 1968,
      "preview": "Ahmad Ismail was born in Basra, in the Huwair area in a small village called al-Madina.",
      "details": [
        {"description": "Ahmad is from the Hambush tribe."},
        {"reference": {"text": "See more about his origin and lineage", "link": "origin"}},
        {"map": "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d109494.00438524489!2d47.2445144!3d30.9512874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fdcda36b3d02c6d%3A0x9c30a2595ee4dbfe!2sAl%20Madina%2C%20Basra%20Governorate%2C%20Iraq!5e0!3m2!1sen!2sde!4v1734291137653!5m2!1sen!2sde"},
      ]
    },
    {
      "year": 1992,
      "preview": "Ahmad received an engineering degree in urban planning from Basra University in Iraq.",
      "details": [
        {"image": "university.jpg"}
      ]
    },
    {"year": 1999, "preview": "He entered the seminary of Mr. Sayyid Muhammad Sadr.",
      "details": []
    },
    {
      "year": 2002,
      "preview": "He made his claim to be the Yemeni public.",
      "details": [
        {"image": "yemeni.jpg"}
      ]
    },
    {
      "year": 2006,
      "preview": "He goes into hiding.",
      "details": []
    },
    {
      "year": 2008,
      "preview": "Ahmad and his followers launched an armed rebellion, and their intention was to kill the religious leaders of Najaf, especially Ayatollah Sistani, whom they considered an obstacle to the emergence of the Twelve Imam and an enemy.",
      "details": []
    },
    {
      "year": 2012,
      "preview": "After four years of disappearance, a voice on a Facebook account claims to be Ahmad Basri.",
      "details": []
    },
    {
      "year": 2020,
      "preview": "And he disappears again, until Eid al-Ghadir 2020, when he delivered a 17-minute sermon.",
      "details": []
    },
];
---
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/timeline.css`}>

<BaseLayout title="Ahmad Ismail Biography">
    <div style="flex-flow: row; width: inherit; text-align: center; margin-top: 50px">
        <img src={`${import.meta.env.BASE_URL}images/01-Sadeq-Ahmad.png`} alt="01-Sadeq-Ahmad" width="80%">
        <br>
        <img src={`${import.meta.env.BASE_URL}images/01-Yamani-Banner`} alt="01-Yamani-Banner" width="80%">
        <br>
        <img src={`${import.meta.env.BASE_URL}images/01-Mahdi-Dajjal`} alt="01-Mahdi-Dajjal" width="80%">
    </div>

    <div class="hadith" style="margin: 100px auto 20px auto">
        <div class="text" dir="auto">… وَ یخرُجُ دَجّالٌ مِن دِجلَةِ البَصرة و لَیسَ مِنّی وَ هُوَ مُقَدّمَةِ الدَّجّالینَ کُلُّهُم </div>
        <div class="translation" dir="auto">
            "… and an antichrist will emerge from the tigris of Basra and he is not from me,
            and he is the forefront of all antichrists."
        </div>
        <div class="owner" dir="auto">Imam Ali ibn Abi-Talib (peace be upon him) </div>
        <div class="reference" dir="auto">Sayyed Ibn Tawus, Malahem al-Fetan, Vol. 1, p. 122 & 123</div>
    </div>

    <div class="hadith" style="margin: auto">
        <div class="text" dir="auto">
            ... كَذَلِكَ غَيْبَةُ الْقَائِمِ فَإِنَّ الْأُمَّةَ سَتُنْكِرُهَا لِطُولِهَا فَمِنْ قَائِلٍ يَهْذِي بِأَنَّهُ لَمْ يُولَدْ وَ قَائِلٍ
            يَقُولُ إِنَّه يَتَعَدَّى إِلَى ثَلَاثَةَ عَشَرَ وَ صَاعِداً وَ قَائِلٍ يَعْصِي اللَّهَ عَزَّ وَ جَلَّ بِقَوْلِهِ إِنَّ رُوحَ الْقَائِمِ يَنْطِقُ فِي هَيْكَلِ غَيْرِهِ ...
        </div>
        <div class="translation" dir="auto">
            "… the absence of the Awaited One will be denied by the community due to its duration;
            some will claim that He was never born, others will assert that He will exceed thirteen and beyond,
            and some will disobey Allah, saying that the spirit of the Awaited One speaks through the body of another…"
        </div>
        <div class="reference" dir="auto">Shaikh Muhammad Sadouq, Kamal al-din, Vol. 2, p. 355</div>
        <div class="reference" dir="auto">Allameh Muhammad Majlesi, Bihar al-Anwar, Vol. 51, p. 221</div>
    </div>

    <div class="hadith" style="margin: 20px auto 100px auto">
        <div class="text" dir="auto">
            ... حَتَّى يَلْتَقِيَ جُنُودُهُمَا بِقِرْقِيسِيَاءَ عَلَى النَّهْرِ وَ يَكُونُ قِتَالٌ عَظِيمٌ وَ يَسِيرُ صَاحِبُ الْمَغْرِبِ فَيَقْتُلُ الرِّجَالَ
            وَ يَسْبِي النِّسَاءَ ثُمَّ يَرْجِعُ فِي قَيْسٍ حَتَّى يَنْزِلَ الْجَزِيرَةَ السُّفْيَانِيُّ فَيَسْبِقُ الْيَمَانِيَّ [فَيَقْتُلُ‌] وَ يَحُوزُ السُّفْيَانِيُّ مَا جَمَعُوا.
        </div>
        <div class="translation" dir="auto">
            "… Until their armies meet at Qirqisiyah by the river, and there will be a great battle, and the one from
            the West will advance, killing the men and capturing the women, then he will return to Qais until the Sufyani
            descends, and he will precede the Yamani [and kill him], and the Sufyani will seize what they have gathered."
        </div>
        <div class="reference" dir="auto">Shaikh Muhammad al-Toosi, Al-Guibah (The Absence), p. 464</div>
    </div>

    <div style="flex-flow: column; width: inherit; text-align: center; margin-top: 100px">
        <img src={`${import.meta.env.BASE_URL}images/02-Dajjalin`} alt="02-Dajjalin" width="80%">

        <h1>Biography of Ahmad Ismail al-Basri</h1>
    </div>
    <Timeline events={events} />
</BaseLayout>
