---
import { languages } from '../assets/Languages.js';

let [,root, currentLang, ...currentPathParts] = Astro.url.pathname.split('/');
const validLangCodes = languages.map((lang) => lang.code);
if (validLangCodes.includes(currentLang)) {
    currentLang += '/';
} else {
    currentLang = '';
}

const menuOptions = {
    '' : {
        'home': 'Home',
        'origin': 'Origin and Lineage',
        'sects': 'Yamaani Sects',
        'ahadith': 'Ahadith',
        'pubs': 'Ahmed\'s Publications',
        'news': 'Ahmed on News',
    },
    'ar/': {
        'home': 'الرئيسية',
        'origin': 'الأصل والنسب',
        'sects': 'الطوائف اليمانية',
        'ahadith': 'الأحاديث',
        'pubs': 'منشورات أحمد',
        'news': 'أحمد في الأخبار',
    },
    'fr/': {
        'home': 'Accueil',
        'origin': 'Origine et lignée',
        'sects': 'Sectes yéménites',
        'ahadith': 'Hadiths',
        'pubs': 'Publications d\'Ahmed',
        'news': 'Ahmed dans les actualités',
    },
    'es/': {
        'home': 'Inicio',
        'origin': 'Origen y linaje',
        'sects': 'Sectas yemeníes',
        'ahadith': 'Hadices',
        'pubs': 'Publicaciones de Ahmed',
        'news': 'Ahmed en las noticias',
    },
}
---
<style>
    .menu-container {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu-button {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 21.5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    .menu-button.active .line1 {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-button.active .line2 {
        opacity: 0;
    }
    .menu-button.active .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    .menu-line {
        width: 100%;
        height: 4px;
        background-color: black;
        border-radius: 2px;
        transition: all 0.3s ease;
    }
    .menu-content {
        display: none;
        position: absolute;
        top: 30px;
        right: -10px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        overflow: hidden;
        width: 175px;
    }
    .menu-container.active .menu-content {
        display: block;
    }
    .menu-content a {
        display: block;
        padding: 10px 10px;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    .menu-content a:hover {
        background-color: #e0e0e0;
    }
</style>

<div class="menu-container">
    <div class="menu-button">
      <div class="menu-line line1"></div>
      <div class="menu-line line2"></div>
      <div class="menu-line line3"></div>
    </div>
    <div class="menu-content" dir="auto">
        <a href=`${import.meta.env.BASE_URL}${currentLang}`>{menuOptions[currentLang]['home']}</a>
        <a href=`${import.meta.env.BASE_URL}${currentLang}origin`>{menuOptions[currentLang]['origin']}</a>
        <a href=`${import.meta.env.BASE_URL}${currentLang}sects`>{menuOptions[currentLang]['sects']}</a>
        <a href=`${import.meta.env.BASE_URL}${currentLang}ahadith`>{menuOptions[currentLang]['ahadith']}</a>
        <a href=`${import.meta.env.BASE_URL}${currentLang}publications`>{menuOptions[currentLang]['pubs']}</a>
        <a href=`${import.meta.env.BASE_URL}${currentLang}news`>{menuOptions[currentLang]['news']}</a>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const menuContainer = document.querySelector('.menu-container');
      const menuButton = document.querySelector('.menu-button');

      menuButton?.addEventListener('click', () => {
          menuContainer?.classList.toggle('active');
          menuButton?.classList.toggle('active');
      });
  });
</script>
