---
const { events } = Astro.props as { events: Event[] };

type EventDetail = {
  description?: string;
  image?: string;
  map?: string;
  reference?: {
    link: string,
    text: string
  }
};
type Event = {
  year: string,
  preview: string,
  details?: EventDetail[];
};
---
<div class="container">
  <div class="timeline">
    <div class="timeline__wrap">
      <div class="timeline__items">
        {events.map(event => (
          <div class="timeline__item">
            <div class="timeline__content" dir="auto">
              <h2>{event.year}</h2>
              <p class="timeline__preview">{event.preview}</p>
              {event.details && event.details.map((detail, index) => (
                <>
                  {detail.description && <p class="timeline__details">{detail.description}</p>}
                  {detail.image && (
                    <img class="timeline__details"
                      src={`${import.meta.env.BASE_URL}images/biography/${detail.image}`}
                      alt="Detail"
                    />
                  )}
                  {detail.map && (
                    <div class="timeline__details">
                      <iframe
                        class="timeline__map"
                        src={detail.map}
                        style={{ border: 0, width: "34vw"}}
                        loading="lazy"
                      ></iframe>
                    </div>
                  )}
                  {detail.reference && (
                      <div class="timeline__details">
                        <a href={ detail.reference.link }>{detail.reference.text}</a>
                      </div>
                  )}
                </>
              ))}
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>

<script src={`${import.meta.env.BASE_URL}scripts/timeline.js`} is:inline></script>
